form {
    text-align: center;
}

form button {
    display: inline-block !important;
    text-align: center  !important;
    margin-top: 20px;
    width: 200px;
}

input {
    background-color: rgb(194, 194, 194) !important;
    border-radius: 0 !important;
}

textarea {
    background-color: rgb(194, 194, 194) !important;
    border-radius: 0 !important;
}


#buttontext {
    font-size: 20px;
    font-weight: bold;
}

.form-group {
    margin-top: 25px;
}

@media screen and (max-width: 500px) {

}